/* src/app/globals.css */
@import "tailwindcss";


@theme {

  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;

  --color-bg:        oklch(0.985 0.005 255);
  --color-surface:   oklch(0.98  0.006 255);
  --color-ink:       oklch(0.18  0.02 255);


  --color-accent-1:  oklch(0.80 0.20 205);
  --color-accent-2:  oklch(0.78 0.18 150);
  --color-accent-3:  oklch(0.78 0.22 315);
}

:root.dark {
  --color-bg:        oklch(0.15 0.02 255);
  --color-surface:   oklch(0.18 0.02 255);
  --color-ink:       oklch(0.95 0.02 255);

  --color-accent-1:  oklch(0.84 0.22 205);
  --color-accent-2:  oklch(0.82 0.20 150);
  --color-accent-3:  oklch(0.85 0.25 315);
}

.bg-surface { background: var(--color-surface); }
.text-ink   { color: var(--color-ink); }
